<md-card md-theme="'default'" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ song.trackName }}</span>
            <span class="md-subhead">{{ song.artistName }}</span>
        </md-card-title-text>
        <md-card-title-media>
            <img ng-src="{{ song.artworkUrl100 }}" class="md-card-image" alt="{{ song.trackName }}">
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon aria-label="Menu" class="material-icons">play_circle_outline</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon aria-label="Menu" class="material-icons">favorite_border</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
            <md-icon aria-label="Menu" class="material-icons">add_shopping_cart</md-icon>
        </md-button>
    </md-card-actions>
</md-card>