<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">iTunes</h2>
    </div>
</md-toolbar>

<md-content class="md-padding" layout="row" layout-wrap>
    <div flex layout="column">
        <div flex="200px">
            <md-input-container flex>
                <label>Artist</label>
                <input ng-model="$ctrl.term">
            </md-input-container>
            <div flex>
                <md-button type="submit" ng-click="$ctrl.search()">Search</md-button>
            </div>
        </div>

        <div flex>
            <md-list>
                <md-list-item ng-repeat="item in $ctrl.selectedItems" class="noright">
                    <p>{{ item.trackName }}</p>
                    <md-icon aria-label="Remove" class="material-icons" ng-click="$ctrl.removeFromChart($index, item)">remove_shopping_cart</md-icon>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <md-list flex>
        <md-list-item ng-repeat="item in $ctrl.results" class="noright">
            <p>{{ item.trackName }}</p>
            <md-icon aria-label="Favorite" class="material-icons" ng-click="$ctrl.toggleAddToChart(item, $event)">{{ item.selected ? 'shopping_cart' : 'add_shopping_cart' }}</md-icon>
            <md-icon aria-label="Detail" class="material-icons" ng-click="$ctrl.showDetail(item, $event)">info_outline</md-icon>
        </md-list-item>
    </md-list>
</md-content>